body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.picture {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pictureContainer {
    width: 100px;
    height: 100px;
    transition: .4s;
}

.pictureContainer:hover {
    width: 110px;
    height: 110px;
    border: 5px solid #F0F;
    margin: 25px;
}

img {
    border-radius: 10px;
    cursor: pointer;
    
}
